@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
    --variable: value;
  } */

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

body {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
